body, html {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat';
  background-image: linear-gradient(to bottom, #93a5cf, #e4efe9);
}

canvas {
  display: none;
  background-size: 100%;
  height: 100vh;
  width: 100vw;
  left: 0;
  right: 0;
  position: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

#images {
  display: none;
}

.area {
  padding: 10px;
  text-align: center;
}

h2 {
  padding: 5px;
  text-align: center;
}

p {
  width: 500px;
  padding: 1%;
  margin: auto;
}

.btn {
  text-align: center;
  width: 100px;
  background-color: #A8C2C4;
  border: 2px solid #97aeb0;
  padding: 20px;
  display: inline-block;
  margin: 30px 10px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: pointer;
}

.health-box {
  background-color: #FFECE9;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  border: solid 1px #043C5B;
}

.health-bar {
  background-color: #043C5B;
  width: inherit;
  height: 28px;
  position: relative;
  bottom: 56px;
}

.health-bar-red {
  width: 100%;
  height: 100%;
  background-color: #3bd3df;
}

.health-bar-blue {
  width: 100%;
  height: 100%;
  background-color: #3bd3df;
  bottom: 28px;
  position: relative;
}

.health-bar-text {
  position: relative;
  bottom: 80px;
  color: #FFECE9;
  font-family: 'Poppins', sans-serif;
}

table {
  margin-top: 5%;
  margin-left: 10%;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left: 4%;
}

.bubble {
  background-color: #FFECE9;
  padding: 2%;
  border-radius: 9px;
  width: 400px;
  box-shadow: 20px 20px #043C5B;
  margin-bottom: 30px;
}
